<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/layout">
<body>
	<div layout:fragment="content">


		<h1 th:text="#{hello.world}">Hello world</h1>
		<div class="table-responsive">
			<table border="1" class="table">
				<thead>
					<tr class="info">
						<th>Id</th>
						<th>fn</th>
						<th>ln</th>
						<th>email</th>
						<th>login</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${users}">
						<td th:disabled="true" th:text="${c.id}" class="danger" />
						<td th:disabled="true" th:text="${c.firstname}" class="info" />
						<td th:disabled="true" th:text="${c.lastName}" />
						<td th:disabled="true" th:text="${c.email}" />
						<td th:disabled="true" th:text="${c.login}" />
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>