<html xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
             layout:decorator="fragments/layout">
<body>
<div layout:fragment="content">
<form th:object="${product}" method="post" class="form-horizontal">
<fieldset>
  <legend th:text="#{nav.product}">Product</legend>
      <input type="hidden" th:field="*{id}" />
       
   
      
       <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
        <label for="name" class="col-sm-2 control-label" th:text="#{name}">Name</label>
        
          <div class="col-xs-3">
               <input type="text" id="name" name="name" th:field="*{name}" class="form-control" value="ee"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block">error!</span>
         </div>
        </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error has-feedback'">
        <label for="code" class="col-sm-2 control-label" th:text="#{product.price}">Price</label>
          <div class="col-xs-3">
               <input type="text" id="code" name="price" th:field="*{price}" class="form-control" value="ee"/>
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="help-block">error!</span>
         </div>
        </div>
        
         <div class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'has-error has-feedback'">
        <label for="code" class="col-sm-2 control-label" th:text="#{product.quantity}">quantity</label>
          <div class="col-xs-3">
               <input type="text" id="code" name="quantity" th:field="*{quantity}" class="form-control" value="ee"/>
                <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="help-block">error!</span>
         </div>
        </div>
        
        
         <div class="form-group" th:classappend="${#fields.hasErrors('enable')}? 'has-error has-feedback'">
        <label for="code" class="col-sm-2 control-label" th:text="#{product.enable}">quantity</label>
          <div class="col-xs-3">
               <input type="checkbox" id="code" name="quantity" th:field="*{enable}" class="form-control" value="ee"/>
                <span th:if="${#fields.hasErrors('enable')}" th:errors="*{enable}" class="help-block">error!</span>
         </div>
        </div>
      
     <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-primary">save</button>
           </div>
    </div>
     
      </fieldset>
    </form>
    </div>
</body>
</html>